*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #eea022;
    
}

.container{
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: #36454F;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
    border-radius: 1rem;
}
.display{
    height: 4rem;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    font-size: 2.4rem;
    text-align: right;
    color: #000e1a;
    pointer-events: none;
    outline: none;
    border: none;
    background-color: #769e76;
    color: whitesmoke;
    caret-color: transparent;
}
.buttons{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}
.buttons button{
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    
    cursor: pointer;
}
.buttons button:active{
    transform: scale(0.90);
    
}

.operator{
    background-color: #7b7a7a;
    
}
.operator:hover{
    color:  whitesmoke;    
}
.btn1{
    background-color: dodgerblue;
}
.btn{
    background-color: rgb(244, 112, 112);
}
#btn1{
    background-color: orange;
    
}